.header=t_systematic_review_title(@sr[:nombre], :PRISMA_flow_diagram)

%p.instructions=t("prisma_report.instructions")


.btn-group
  %a.btn.btn-default.btn-sm{:href=>"/review/#{@sr[:id]}/report/PRISMA/svg_download"}=t(:Download)

%div
  %img{:src=>"/review/#{@sr[:id]}/report/PRISMA/svg"}