%h2=title(t(:Permits))

%table.tablesorter
  %thead
    %th Files
    %th Route
    %th Permits
  %tbody
    - @files.each_pair do |file, routes|
      - routes.each_pair do |route, permits|
        %tr
          %td=file
          %td=route
          %td
            - if permits.length>0
              =permits.join(", ")
            - else
              =t(:No_permits)

%h2=t(:Permits)
%ul
  - @permits.each do |permit|
    %li=permit