%h2=title(t(:Authorizations))

%ul
  - @authorizations.each do |auth|
    %li
      =auth[:id]
      =auth[:description]

%ul.list-group
  %li.list-group-item
    %a{:href=>url("/admin/authorizations/renew"), :role=>'button', :class=>"btn btn-default"}=t(:Renew_authorizations)

%h2=t(:Authorizations_on_files)
%ul
  - @permits.each do |permit|
    %li=permit

%table.tablesorter
  %thead
    %th Files
    %th Route
    %th Authorizations
  %tbody
    - @files.each_pair do |file, routes|
      - routes.each_pair do |route, permits|
        %tr
          %td=file
          %td=route
          %td
            - if permits.length>0
              =permits.join(", ")
            - else
              =t(:No_authorizations)

