%h2=title(t(:Roles))

- if auth_to("role_admin")
  %a.btn.btn-default{:href=>url("/role/new")}
    %span{:class=>"glyphicon glyphicon-plus"}
    =t(:Role_new)


%table.table.table-bordered
  %thead
    %th=t(:Id)
    %th=t(:Description)
    %th=t(:Actions)
  %tbody
    - @roles.each do |rol|
      %tr
        %td=rol[:id]
        %td=rol[:descripcion]
        %td=rol.permisos.map {|v|  t("auth.#{v[:id]}")}.join(", ")
        %td
          - if (rol[:id]!='administrator' and rol[:id]!='analyst') and auth_to('role_admin')
            %a.btn.btn-default.btn-sm{:href=>url("/role/#{rol[:id]}/edit")}
              %span{:class=>"glyphicon glyphicon-pencil"}
              =t(:Role_edit)
          - if rol.usuarios_dataset.empty? and auth_to('role_admin')
            %a.btn.btn-default.btn-sm{:href=>url("/role/#{rol[:id]}/delete")}
              %span{:class=>"glyphicon glyphicon-remove"}
              =t(:Role_delete)
