%h2=title(t(:Role_name, role_name:@role[:id]))

%form{:method=>:post, :action=>url("/role/update")}
  %input{:type=>"hidden", :name=>"role_id_old",:value=>@role[:id]}
  .form-group
    %label{:for=>"role_id_new"}=t(:Role_id)
    %input.form-control{:type=>"text", :name=>"role_id_new",:value=>@role[:id]}
  .form-group
    %label{:for=>"description"}=t(:Description)
    %input.form-control{:type=>"text", :name=>"description",:value=>@role[:description]}
  .form-group
    %label{:for=>"authorizations"}=t(:Authorizations)
    %select.form-control{:multiple=>true, :size=>@authorizations.count, :name=>"authorizations[]"}
      - @authorizations.each do |authorization|
        %option{:value=>authorization[:id], :selected=>@role.include_authorization?(authorization[:id])}=t("auth.#{authorization[:id]}")
  %input.btn.btn-default{:type=>:submit, :value=>t(:Update)}