.idea
.sass-cache
.yardoc
bak/*
*~
.env
.env_test
.idea/*
log
usr/archivos
*.sqlite
docs/api/*
spec/usr
config/installed
config/installed_test
coverage/*
vendor/vagrant_alpine/.vagrant
vendor/vagrant_ubuntu_16/.vagrant
vendor/vagrant_alpine/*.log
vendor/vagrant_ubuntu_16/*.log
vendor/vagrant_pkgr/.vagrant
vendor/vagrant_pkgr/*.log
