bak/*
*~
.env
.env_test
log
usr/archivos
*.sqlite
spec/usr
config/installed
config/installed_test
vendor/vagrant_alpine/.vagrant
vendor/vagrant_ubuntu_16/.vagrant
vendor/vagrant_alpine/*.log
vendor/vagrant_ubuntu_16/*.log
vendor/vagrant_pkgr/.vagrant
vendor/vagrant_pkgr/*.log
