.heading
  =t_systematic_review_title(@revision[:nombre], "systematic_review_page.stages")


%ul.breadcrumb
  %li
    %a{:href=>url("/revisiones")}=t(:Systematic_reviews)
  %li
    %a{:href=>url("/revision/#{@revision[:id]}")}=@revision[:nombre]
  %li{:class=>"active"}=t(:Administration)

%ul
  - @revision.etapas_avanzadas.each do |etapa|
    %li
      %a{:href=>"/revision/#{@revision[:id]}/administracion/#{etapa}"}
        =t(Revision_Sistematica::ETAPAS_NOMBRE[etapa])
