.heading
  %h2="Revision sistematica #{@revision[:nombre]}: Etapas de revisión"

- @revision.etapas_avanzadas.each do |etapa|
  %h3=Revision_Sistematica::ETAPAS_NOMBRE[etapa]
  -if etapa==:busqueda
    %table.reporte
      %tr
        %th Total documentos
        %td=@ars.cd_count_total
      %tr
        %th Registros canónicos
        %td=@ars.cd_count_reg
      %tr
        %th Referencias canónicas
        %td=@ars.cd_count_ref
    %h4 Más citados
    .list-group
      -@ars.mas_citados(10).each do |cd_id,n|
        .list-group-item
          %span{:class=>"badge"}=n
          =@ars.cd_hash[cd_id].ref_apa_6_breve_html
    %h4 Los que más citan
    .list-group
      -@ars.con_mas_referencias(10).each do |cd_id,n|
        .list-group-item
          %span{:class=>"badge"}=n
          =@ars.cd_hash[cd_id].ref_apa_6_breve_html
  - elsif etapa==:revision_titulo_resumen
    %table.reporte
      %thead
        %th Usuario
        - Decision::N_EST.each do |dec,nombre|
          %th=Decision.get_name_decision(dec)
      %tbody
        - @ars.decisiones_usuarios(etapa).each do |usuario_id, edu|
          %tr
            %th=edu[:usuario].nombre
            - Decision::N_EST.each do |dec,nombre|
              - dec_i = dec == '--' ? nil : dec
              %td=edu[:adu].total_decisiones[dec_i].to_i
    %h4 Decisiones por documento
    %table.reporte
      %thead
        %th Documento
        - Decision::N_EST.each do |dec,nombre|
          %th=Decision.get_name_decision(dec)
      %tbody
        - Canonico_Documento.where(:id=>@revision.cd_id_por_etapa(etapa)).order(:title).each do |cd|
          %tr
            %td=cd.title
            - Decision::N_EST.each do |dec,nombre|
              - dec_i = dec == '--' ? nil : dec
              %td= @ars.decisiones_primera_etapa[cd[:id]][dec_i].to_i

