.heading
  %h2="Revision sistematica #{@revision[:nombre]}: Etapas de revisión"

%ul.breadcrumb
  %li
    %a{:href=>url("/revisiones")} Revisiones
  %li
    %a{:href=>url("/revision/#{@revision[:id]}")}=@revision[:nombre]
  %li{:class=>"active"} Administración

%ul
  - @revision.etapas_avanzadas.each do |etapa|
    %li
      %a{:href=>"/revision/#{@revision[:id]}/administracion/#{etapa}"}
        =Revision_Sistematica::ETAPAS_NOMBRE[etapa]
