.heading
  =t_systematic_review_title(@revision[:nombre], "systematic_review_page.search_administration")

=partial(:breadcrumb_revision_admin,:locals=>{:nombre=>t(:Search)})

%p.instructions=t("systematic_review_page.search_administration_instructions")

=t_desc_value(:Count_searchs_on_systematic_review, @revision.busquedas.count)

%table.reporte
  %thead
    %th=t(:Busqueda)
    %th=t(:Count_records)
    %th=t(:Count_references_total)
    %th=t(:Count_references_with_canonical)
  %tbody
    - @revision.busquedas.each do |busqueda|
      %tr
        %td=busqueda.nombre
        %td=busqueda.registros_n
        %td=busqueda.referencias_n
        %td=busqueda.referencias_con_canonico_n.count
