- # TODO: Give a meaningful date picker for start date
:javascript
  $(document).ready(function () {
    $(".seleccion_grupo").change(function() {

        var valor=$(this).val();
        var select_id="group_administrator_select";
        $.getJSON("/grupo/"+valor+"/datos.json",function(data) {
         option_html="";
         for(var i=0; i<data.users.length;i++) {
         user_id       = data.users[i].id;
         user_name     = data.users[i].name;
         selected_attr = (user_id== data.group_administrator) ? "selected='selected'": "" ;
           option_html=option_html+("<option "+selected_attr+" value='"+ user_id+"'>"+user_name+"</option>");
         }
          $("#"+select_id).html("<select class='form-control' name='administrador_revision' id='"+select_id+"'>"+option_html+"</select>");
        }).fail(function() {
        alert("#{t(:Json_cant_obtain_information)}")
        });
    });
  });
%h2=@title
%form{:method=>:post, :action=>url("/revision/actualizar")}
  %input{:type=>"hidden", :name=>"revision_id",:value=>@revision[:id]}
  %div{:class=>"form-group"}
    %label{:for=>"nombre"}=t(:Name)
    %input{:class=>"form-control",:type=>"text", :name=>"nombre",:value=>@revision[:nombre]}
  %div{:class=>"form-group"}
    %label=t(:Description)
    %textarea{:class=>"form-control",:name=>"descripcion"}=@revision[:descripcion]
  %div{:class=>"form-group"}
    %label=t(:Date)
    %input{:class=>"form-control",:type=>"text", :name=>"fecha_inicio",:value=>@revision[:fecha_inicio]}
  %div{:class=>"form-group"}
    %label=t(:Objectives)
    %textarea{:class=>"form-control",:name=>"objetivos"}=@revision[:objetivos]
  %div{:class=>"form-group"}
    %label=t(:Year_start)
    %input{:class=>"form-control",:type=>"text", :name=>"agno_inicio",:value=>@revision[:agno_inicio]}
  %div{:class=>"form-group"}
    %label=t(:Year_end)
    %input{:class=>"form-control",:type=>"text", :name=>"agno_termino",:value=>@revision[:agno_termino]}
  %div{:class=>"form-group"}
    %label=t(:Keywords)
    %p.instructions=t(:separe_keywords_with_semicolon)
    %input{:class=>"form-control",:type=>"text", :name=>"palabras_claves",:value=>@revision[:palabras_claves]}
  %div{:class=>"form-group"}
    %label=t(:Active)
    %input{:class=>"form-control",:type=>"checkbox", :name=>"activa", :value=>1, :checked=>@revision[:activa] }
  %div{:class=>'form-group'}
    %label=t(:Minimum_RTA_documents_for_reference_review)
    %select{:class=>"form-check-input", :name=>:n_min_rr_rtr}
      - 2.upto(20) do |i|
        %option{:value=>i, :selected=>i==@revision.n_min_rr_rtr}=i
  %div{:class=>"form-group"}
    %label{:for=>"etapa"}=t(:Stage)
    -Revision_Sistematica::ETAPAS_NOMBRE.each do |etapa_id,etapa_nombre|
      %input{:class=>"form-check-input",:type=>"radio", :name=>"etapa", :value=>etapa_id, :checked=>etapa_id.to_s==@revision[:etapa]}=t(etapa_nombre)

  %div{:class=>"form-group"}
    %label{:for=>"grupo_id"}=t(:Group)
    %select{:class=>'form-control seleccion_grupo', :name=>:grupo_id, :id=>:grupo_id_select}
      - Grupo.all.each do |g|
        %option{:value=>g.id, :selected=>g.id==@revision[:grupo_id]}=g.name
  %div{:class=>"form-group"}
    %label=t(:Administrator)
    %select{:class=>'form-control', :id=>:group_administrator_select, :name=>:administrador_revision}
      - @revision.grupo.usuarios.each do |u|
        %option{:selected=> u.id==@revision[:administrador_revision], :value=>u.id}=u.nombre

  %h3=t(:Taxonomy)
  %table.reporte
    - Sr_Taxonomy.each do |sr_taxonomy|
      %tr
        %th=t("sr_taxonomy.#{sr_taxonomy[:name]}")
        %td
          - Sr_Taxonomy_Category.where(:srt_id=>sr_taxonomy[:id]).each do |srtc|
            %p 
              %input{:class=>"form-check-input",:type=>"checkbox", :name=>"srtc[#{srtc[:id]}]", :value=>1, :checked=>@taxonomy_categories_id.include?(srtc[:id])}
              =t("sr_taxonomy_category.#{srtc[:name]}")
  %input{:type=>:submit, :value=>"Enviar"}             
  
  