%h2="Mensajes para revisión <strong>#{@revision.nombre}</strong>"

%ul.breadcrumb
  %li
    %a{:href=>url("/revision/#{@revision.id}")}=@revision.nombre
  %li{:class=>:active}Mensajes


.panel.panel-default
  .panel-heading
    Nuevo mensaje
  .panel-body
    %form{:method=>"post",:action=>url("/revision/#{@revision.id}/mensaje/nuevo")}
      .form-group
        %label{:for=>"nombre"}Autor
        %p=@usuario[:nombre]
        %input{:type=>"hidden",:name=>:user_id, :value=>@usuario[:id]}
      .form-group
        %label{:for=>"asunto"}Asunto
        %input{:class=>"form-control",:type=>"text", :name=>"asunto"}
      .form-group
        %label{:for=>"texto"}Texto
        %textarea{:class=>"form-control",:name=>'texto'}
      %input{:type=>:submit, :value=>"Enviar mensaje a grupo", :class=>"btn btn-default"}

%h3 Mensajes
- if @mensajes_rs.count==0
  %p
    %em No hay mensajes para esta revisión sistemática
- else
  .list-group
    - @mensajes_rs.each do |mensaje_rs|
      =partial(:mensaje_rs, :locals=>{:mensaje_rs=>mensaje_rs,:usuario=>@usuario})
