%ul.breadcrumb
  %li
    %a{:href=>url("/reviews")}=t(:Systematic_reviews)
  %li
    %a{:href=>url("/review/#{@revision[:id]}")}=@revision[:nombre]
  %li
    %a{:href=>url("/review/#{@revision[:id]}/administration_stages")}=t(:Administration)
  %li{:class=>"active"}=nombre