- cd=Canonico_Documento[id]

%div{:class=>"panel panel-default"}
  .panel-heading

    ="Documento Canónico #{cd.ref_apa_6}"
  .panel-body
    %table.reporte
      - [:author, :year,:title,:journal, :volume,:pages,:doi].each do |field|
        %tr
          %th=field.capitalize
          %td=a_editable(cd[:id], "canonico_documento", "/canonico_documento/editar_campo/#{field}", cd[field],"")
    =partial(:canonico_documento_boton, :locals=>{:id=>id})