- cd=CanonicalDocument[id]

%div{:class=>"panel panel-default"}
  .panel-heading

    ="Documento Canónico #{cd.ref_apa_6}"
  .panel-body
    %table.reporte
      - [:author, :year,:title,:journal, :volume,:pages,:doi].each do |field|
        %tr
          %th=field.capitalize
          %td=a_editable(cd[:id], "canonical_document", "/canonical_document/edit_field/#{field}", cd[field],"")
    =partial(:canonical_document_button, :locals=>{:id=>id})