%h2=t(:Dashboard_user, user_name:user[:nombre])
- @udi=UserDashboardInfo.new(user)
- if @udi.unread_personal_messages.count>0
  %p=t_desc_value("user_dashboard.unread_personal_messages", a_tag("/user/#{user[:id]}/messages#personal", t("user_dashboard.check_n_unread_messages", count:@udi.unread_personal_messages.count)))
- user.revisiones_sistematicas.where(:activa=>true).each do |sr|
  - es_administrador=@udi.is_administrator_sr?(sr)
  %div{:class=>"panel #{es_administrador ? "panel-primary" : "panel-default"}"}
    .panel-heading
      .panel-title
        =sr.nombre
        - if es_administrador
          %span.badge=t(:Administrator)
    .panel-body
      =t_desc_value(:Objectives, sr.objetivos)
      =partial(:dashboard_user_sr,:locals=>{user:user, sr:sr})

- if user.revisiones_sistematicas.where(:activa=>true).count==0
  %p
    %em=t(:No_systematic_review_for_this_user)