%table.table.table-ordered
  %thead
    %th=t(:Id)
    %th=t(:User_name)
    %th=t("search.Source")
    %th=t(:Bibliographic_database)
    %th=t(:Date)
    %th=t(:Search_criteria)
    %th=t(:Description)
    %th=t(:File)
    %th=t(:Search_valid)
    %th=t(:Count_records)
  %tbody
    - @sr.searches.each do |g|
      %tr
        %td=g.id
        %td=User[g[:user_id]][:name]
        %td=t(g.source_name)
        %td=g.bibliographical_database_name
        %td=g.fecha
        %td=g.search_criteria
        %td=g.description
        %td=g.filename.nil? ? t(:No_file) : "#{g.filename} [#{g.filetype}]"
        %td= t_yes_no_nil(g.valid)
        %td=g.records_n