- bib_hash=BibliographicDatabase.as_hash(:id)
- sources_arbs= report.ars.sources_accepted_resolutions_by_stage
%table.table.table-ordered
  %thead
    %th=t("search.Source")
    %th=t(:Bibliographic_database)
    %th=t(:n)
  %tbody
    -report.ars.summary_sources_databases.each do |row|
      %tr
        %td=t(Search.get_source_name(row[:source]))
        %td
          - if row[:source]=="database_search"
            =bib_hash[row[:bibliographic_database_id]][:name]
        %td=row[:n]

%table.table.table-ordered
  %thead
    %th=t(:Id)
    %th=t(:User_name)
    %th=t("search.Source")
    %th=t(:Bibliographic_database)
    %th=t(:Date)
    %th=t(:Search_criteria)
    %th=t(:Description)
    %th=t(:File)
    %th=t(:Search_valid)
    %th=t(:Count_records)
    %th=t(:Records_accepted_in_title_abstract_screening)
    %th=t(:Records_accepted_in_full_text_analysis)

  %tbody
    - @sr.searches.each do |g|
      %tr
        %td=g.id
        %td=User[g[:user_id]][:name]
        %td=t(g.source_name)
        %td=g.bibliographical_database_name
        %td=g.date_creation
        %td=g.search_criteria
        %td=g.description
        %td=g.filename.nil? ? t(:No_file) : "#{g.filename} [#{g.filetype}]"
        %td= t_yes_no_nil(g.valid)
        %td=g.records_n
        -if sources_arbs[g.id]
          %td=sources_arbs[g.id][Buhos::Stages::STAGE_SCREENING_TITLE_ABSTRACT]
          %td=sources_arbs[g.id][Buhos::Stages::STAGE_REVIEW_FULL_TEXT]
        - else
          %td --
          %td --
