- cds=CanonicalDocument.where(:id=>@sr.cd_id_by_stage(stage)).order(:year,:author)
- adu=report.ars.user_decisions(stage)
- resolutions=report.ars.resolution_by_cd(stage)
%table.table.table-ordered
  %thead
    %th=t(:Canonical_document)
    - @sr.group_users.each do |user|
      %th=user[:name]
    %th=t(:Resolution)
  %tbody
    - cds.each do |cd|
      %tr
        %td=cd.ref_apa_6_brief
        - @sr.group_users.each do |user|
          %td=t(adu[user[:id]][:adu].decision_cd_id(cd[:id]))
        %td=t(resolutions[cd[:id]])



