- cds=Canonico_Documento.where(:id=>@sr.cd_id_por_etapa(stage)).order(:year,:author)
- adu=report.ars.decisiones_usuarios(stage)
- resoluciones=report.ars.resolution_by_cd(stage)
%table.table.table-ordered
  %thead
    %th=t(:Canonical_document)
    - @sr.grupo_usuarios.each do |user|
      %th=user[:nombre]
    %th=t(:Resolution)
  %tbody
    - cds.each do |cd|
      %tr
        %td=cd.ref_apa_6_brief
        - @sr.grupo_usuarios.each do |user|
          %td=t(adu[user[:id]][:adu].decision_cd_id(cd[:id]))
        %td=t(resoluciones[cd[:id]])



