%a{:href=>url("/revision/#{r.id}/edicion")}
  %button{:type=>:button, :class=>"btn btn-default"}
    %span{:class=>"glyphicon glyphicon-pencil"}
    Editar
  %a{:href=>url("/revision/#{r.id}/busquedas")}
    %button{:type=>:button, :class=>"btn btn-default"}
      %span{:class=>"glyphicon glyphicon-tasks"}
      Búsquedas