- # Params: tag_estadisticas, review
- tags_statistics=Buhos::AnalysisTags.new
- tags_statistics.systematic_review_id(review.id)

- if @estadisticas_tags_js.nil?
  - @estadisticas_tags_js=true
  %script{:type=>'text/javascript', :src=>url('/js/estadisticas_tags.js')}

%h3=t(:Tags_statistics)
%table.reporte.tablesorter
  %thead
    %th=t(:Tag)
    %th=t(:Distinct_documents)
    %th=t(:Yes)
    %th=t(:No)
    %th=t(:Actions)
  %tbody
    - tags_statistics.get_tags_decision_stats.each do |tag|
      %tr{:id=>"tag-fila-#{tag[:id]}"}
        %td=tag[:text]
        %td
          - url_link= "/tag/#{tag[:id]}/rs/#{review.id}/cds"
          %a{:href=>url(url_link)}=tag[:n_documents]
        %td=tag[:d_yes]
        %td=tag[:d_no]
        %td
          .btn-group.btn-group-sm
            -if tag[:d_yes]==0 and tag[:d_no]>0
              %button.btn.btn-default.borrar_tag{"tag-pk"=>tag[:id],"rs-pk"=>review.id}
                %span.glyphicon.glyphicon-remove
                  Borrar