%div.list-group
  %div{:class=>"list-group-item"}
    %span{:class=>"titulo"}=t(:Objectives)
    %p=systematic_review[:objectives].split("\n").join("<br/>")
  %div{:class=>"list-group-item"}
    %span{:class=>"titulo"}=t(:Year_start_end)
    %span{ :name=>"year_start"}=sprintf("%d -  %d", systematic_review[:year_start], systematic_review[:year_end])
  %div{:class=>"list-group-item"}
    %span{:class=>"titulo"}=t(:Description)
    =systematic_review[:description].split("\n").join("<br/>")
  %div{:class=>"list-group-item"}
    %span{:class=>"titulo"}=t(:Keywords)
    %span{ :name=>"keywords"}=systematic_review[:keywords]
