%span.usuario>
  %a.btn.btn-primary.btn-sm{:href=>url("/user/#{session['user_id']}"), :alt=>session['name']}
    %span.glyphicon.glyphicon-user

  %a.btn.btn-primary.btn-sm{:href=>url("/logout"), :alt=>t(:Logout)}
    %span.glyphicon.glyphicon-off