%table
  %tr
    %th=t(:Name)
    %td=@usuario[:nombre]
  %tr
    %th=t(:Role)
    %td
      %p
        =@usuario.rol[:descripcion]
        (
        =@usuario.rol[:id]
        )
  %tr
    %th=t(:Permissions)
    %td 
      -@usuario.permisos.each do |per|
        %span=per[:id]
