=partial :usuario

%p Seleccione el proceso eleccionario y el tipo de análisis: 

%table.reporte
  %thead
    %th Proceso 
    %th Predicción
  %tbody
    -@subelecciones.each do |subeleccion|
      %tr
        %td=subeleccion[:nombre]
        %td
          %a{:href=>"/control/subeleccion/#{subeleccion[:id]}"} Predicción
          
