%p
  %strong=t(:Select_systematic_review_to_analyze)

- @rss.each do |rs|
  %h3=rs[:name]
  %ul.list-group
    - rs.current_stages.each do |stage|
      %li.list-group-item
        %a{:href=>"/review/#{rs[:id]}/#{stage}"}=t(get_stages_names[stage])
