%p
  %strong Seleccion la revisión sistemática a analizar

- @rss.each do |rs|
  %h3=rs[:nombre]
  %ul.list-group
    - rs.etapas_avanzadas.each do |etapa|
      %li.list-group-item
        %a{:href=>"/revision/#{rs[:id]}/#{etapa}"}=Revision_Sistematica::ETAPAS_NOMBRE[etapa]
