-  title(t("Error_404"))
%div
  =t(:Im_sorry_the_page_you_request_doesnt_exists)
%div
  =t(:The_error_will_be_reported_to_administrator)
%div
  %a{:href=>"#", :onClick=>"javascript:history.back()"}
    =t(:Back)
