.container
  .row
    .col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
      %img.logo-login{:src=>"/images/logo.svg"}
  .row
    .col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
      %p.description-login=t("login.software_description".to_sym)
  .row
    .col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
      .login-panel.panel.panel-primary
        .panel-heading
          %h3.panel-title=t("login.forgotten_password".to_sym)
        .panel-body
          %form{:method=>"post",:action=>url("/forgotten_password"), :class=>"horizontal", :roles=>:form}
            %fieldset
              .form-group
                %input.form-control{:autofocus => "", :name => "email", :placeholder => "Email", :type => "text"}
              %input.enviar{:class=>"btn btn-lg btn-default btn-block",:type=>'submit', :value=>t("login.submit_forgotten".to_sym)}
