%h2=title(t(:Groups))
- if permiso("grupos_crear")
  %a.btn.btn-default{:href=>url("/group/new")}
    %span.glyphicon.glyphicon-plus-sign
    =t(:New_group)
%table.table.table-bordered
  %thead
    %th=t(:Id)
    %th=t(:Name)
    %th=t(:Description)
    %th=t(:Administrator)
    %th=t(:Users)
    %th=t(:Actions)
  %tbody
    - @grupos.each do |g|
      %tr
        %td=g.id
        %td=g.name
        %td=g.description
        %td=g.administrator_name
        %td=g.usuarios.map {|u| "[#{u.id}]#{u.nombre}"}.join(",")
        %td
          - if permiso("grupos_editar")
            .btn-group.btn-group-sm
              %a.btn.btn-default{:href=>url("/group/#{g.id}/edit")}
                %span.glyphicon.glyphicon-pencil
                =t(:Edit)
              -if g.revisiones_sistematicas.empty?
                %a.btn.btn-default{:href=>url("/group/#{g.id}/delete")}
                  %span.glyphicon.glyphicon-remove
                  =t(:Delete)

