%h2 Grupos
%a{:href=>url("/grupo/nuevo")}
  %img{:src=>url("images/list-add.png")}
  Nuevo grupo
%form{:method=>:post, :action=>url("/grupos/actualizar")}
  %table
    %thead
      %th Id
      %th Nombre
      %th Descripcion
      %th Administrador
      %th Usuarios
    %tbody
      - @grupos.each do |g|
        %tr
          %td
            %a{:href=>url("/grupo/#{g.id}/edicion")}=g.id
          %td=g.name
          %td=g.description
          %td=g.administrador.nombre
          %td=g.usuarios.map {|u| "[#{u.id}]#{u.nombre}"}.join(",")
            
  %input{:type=>:submit}
