%h2=title(t(:Groups))
%a.btn.btn-default{:href=>url("/grupo/nuevo")}
  %span.glyphicon.glyphicon-plus-sign
  =t(:New_group)
%table.table.table-bordered
  %thead
    %th=t(:Id)
    %th=t(:Name)
    %th=t(:Description)
    %th=t(:Administrator)
    %th=t(:Users)
    %th=t(:Actions)
  %tbody
    - @grupos.each do |g|
      %tr
        %td=g.id
        %td=g.name
        %td=g.description
        %td=g.administrador.nombre
        %td=g.usuarios.map {|u| "[#{u.id}]#{u.nombre}"}.join(",")
        %td
          %a.btn.btn-default{:href=>url("/grupo/#{g.id}/edicion")}
            %span.glyphicon.glyphicon-pencil
            =t(:Edit)
