<body>
  <head>
    <title>Sistema de votaciones Radio Biobío</title>
    <script src='/jquery-1.6.2.js' type='text/javascript'></script>
    <script src='/jquery.jeditable.mini.js' type='text/javascript'></script>
    <script src='/editable.js' type='text/javascript'></script>
    <script src='/superfish/js/jquery.bgiframe.min.js' type='text/javascript'></script>

    <script src='/superfish/js/hoverIntent.js' type='text/javascript'></script>
    <script src='/superfish/js/superfish.js' type='text/javascript'></script>
    <script src='/jquery-ui-1.8.15.custom.min.js' type='text/javascript'></script>
    <script src='/chosen.jquery.min.js' type='text/javascript'></script>
    <script src='/jquery.dataTables.min.js' type='text/javascript'></script>
    <link href='/css/ui-lightness/jquery-ui-1.8.15.custom.css' media='screen' rel='stylesheet' type='text/css' />

    <link href='/superfish/css/superfish.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='/css/main.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='/css/demo_table.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='/css/chosen.css' media='screen' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div id='outer'>
      <div id='inner'>
        <div class='title'>

          <h1>Sistema de votaciones</h1>
        </div>
        <div id='header'>
          <div id='menu'>
            <ul class='sf-menu'>
              <li>
                <a href='<%=url("/")%>'>Portada</a>
              </li>
            </ul>
          </div>
          <div id='header-end'></div>
        </div>
        <div id='mensajes'>
          
          <div class='desarrollo'>Desarrollo</div>

        </div>
        <div id='content'>
            <%=yield%>
        </div>
        <div id='footer'>
          <p>Copyright (c) 2009-2012. Radio Bio Bio</p>

        </div>
      </div>
    </div>
  </body>
</body>

