%p Ingrese su nombre de usuario y password
%form{:method=>"post",:action=>url("login"), :class=>"horizontal"}
  .form-group
    %label{:class=>"control-label col-sm-2", :for=>:name}Nombre de usuario
    .col-sm-10
      %input{:class=>"form-control",:type=>'text', :name=>"user",:placeholder=>"Nombre de usuario"}
  .form-group
    %label{:class=>"control-label col-sm-2", :for=>:password}Password
    .col-sm-10
      %input{:class=>"form-control",:type=>'password', :name=>"password"}
  .form-group
    %div{:class=>"col-sm-offset-2 col-sm-10"}
      %input.enviar{:class=>"btn btn-default",:type=>'submit', :value=>"Ingresar al sistema"}
