- title(t(:Dashboard_user, :user_name=>@user.name))
%div.main-actions
  .btn-group.btn-group-sm{:role=>:group}
    - if auth_to("review_admin")
      %a.btn.btn-default{:href=>url("/review/new")}
        %span{:class=>"glyphicon glyphicon-plus"}
        =t(:Systematic_review_new)

%br

=partial(:dashboard_user, :locals=>{:user=>@user}, cache:true)
