%h2=title(t(:Record_title, rid: @reg[:id]))
- search=@search
-if @search
  %ul.breadcrumb
    %li
      %a{:href=>url("/review/#{@review.id}")}=@review.name
    %li
      %a{:href=>url("/review/#{@review.id}/searches")}=t(:searches)
    %li
      %a{:href=>url("/search/#{@search.id}")}=@search.name
    %li.active
      =t(:Record)


=partial(:records_list,:locals=>{:records=>[@reg], :search=>search, :btn_show=>true})
%p
  =t_desc_value("record.raw", @reg.raw_key_value)


%h3=t(:References)

- if auth_to("reference_edit")
  %form{:method=>:post, :action=>url("/record/#{@reg[:id]}/manual_references"), :class=>"form-group"}
    %label{:for=>:reference_manual}=t(:Manual_references_enter)
    %textarea{:name=>:reference_manual, :rows=>5, :cols=>30, :class=>"form-control"}
    %input{:type=>:submit, :value=>"Enviar", :class=>"form-control"}

=partial(:references_list, :locals=>{:references=>@references, :record=>@reg})