%h3=title("Referencia #{@ref[:id]}")

%p
  %strong=t_desc_value(:Text,@ref[:text])

-if @ref.doi
  =a_doi(@ref.doi)


- if @ref.canonical_document_id
  %h4=t(:Canonical_document_assigned_to_this_reference)
  =partial(:canonical_document_abstract,:locals=>{:id=>@ref.canonical_document_id})

%h4=t(:Records_that_cites_this_reference)
=partial(:records_list, :locals=>{:records=>@records})