%h3=title("Referencia #{@ref[:id]}")

%p
  %strong=t_desc_value(:Text,@ref[:texto])

-if @ref.doi
  =a_doi(@ref.doi)


- if @ref.canonico_documento_id
  %h4=t(:Canonical_document_assigned_to_this_reference)
  =partial(:canonico_documento_resumen,:locals=>{:id=>@ref.canonico_documento_id})

%h4=t(:Records_that_cites_this_reference)
=partial(:registros_lista, :locals=>{:registros=>@registros})