%h2=title(t(:Record_title, rid: @reg[:id]))

=partial(:registros_lista,:locals=>{:registros=>[@reg]})


%h3=t(:References)

- if permiso("referencias_editar")
  %form{:method=>:post, :action=>url("/registro/#{@reg[:id]}/referencias_manuales"), :class=>"form-group"}
    %label{:for=>:referencia_manual}=t(:Manual_references_enter)
    %textarea{:name=>:referencia_manual, :rows=>5, :cols=>30, :class=>"form-control"}
    %input{:type=>:submit, :value=>"Enviar", :class=>"form-control"}

=partial(:referencias_lista, :locals=>{:referencias=>@referencias})