.page-header
  %h2=t(:Systematic_reviews)

.btn-group
  - if @inactivas
    %a{:href=>url("/revisiones"), :role=>:button, :class=>"btn btn-default"}
      =t(:Only_active)
  - else
    %a{:href=>url("/revisiones?inactivas=true"), :role=>:button, :class=>"btn btn-default"}
      =t(:Active_and_inactive)

-@revisiones.each do |r|
  %div{:class=>"panel panel-default"}
    %div{:class=>"panel-heading"}
      ="(#{r.id})"
      %a{:href=>"/revision/#{r.id}"}=r.nombre
    %div{:class=>"panel-body"}
      %ul{:class=>"list-group"}
        %li{:class=>'list-group-item'}
          =t_desc_value(:Description,r.descripcion)
        %li{:class=>'list-group-item'}
          Foco:
          =r.trs_foco.name
        %li{:class=>'list-group-item'}
          Objetivo:
          =r.trs_objetivo.name
        %li{:class=>'list-group-item'}
          Perspectiva:
          =r.trs_perspectiva.name
        %li{:class=>'list-group-item'}
          Cobertura:
          =r.trs_cobertura.name
        %li{:class=>'list-group-item'}
          Organización:
          =r.trs_organizacion.name
        %li{:class=>'list-group-item'}
          Destinatario:
          =r.trs_destinatario.name
        %li{:class=>'list-group-item'}
          =t_desc_value(:Active, r.activa ? t(:Yes) : t(:No))
        %li{:class=>'list-group-item'}
          =t_desc_value(:Stage, t(r.etapa_nombre))
        %li{:class=>'list-group-item'}
          =t_desc_value(:Minimum_RTA_documents_for_reference_review, r.n_min_rr_rtr)


    %div{:class=>"panel-footer"}
      =partial(:revision_botones, :locals=>{:r=>r})

%a{:href=>url("/revision/nuevo")}
  %button{:class=>"btn btn-default"}
    %span{:class=>"glyphicon glyphicon-plus"}
    =t(:Systematic_review_new)