.header
  %h2=title(t(:Systematic_reviews))
%ul.breadcrumb
  %li.active=t(:Systematic_reviews)

%form.form-inline{:action=>'/reviews', :method=>'get'}
  .form-group
    %label{:for=>:show_inactives}=t(:Systematic_review_active_inactive)
    %select{:name=>  :show_inactives}
      %option{:value=>:only_actives, :selected=>@show_inactives=='only_actives'}=t(:Show_only_actives)
      %option{:value=>:actives_and_inactives, :selected=>@show_inactives=='actives_and_inactives'}=t(:Show_actives_and_inactives)
    %label{:for=>:show_only_user}=t(:Systematic_review_all_user)
    %select{:name=>  :show_only_user}
      %option{:value=>:yes, :selected=>@show_only_user=='yes'}=t(:Show_sr_only_user)
      %option{:value=>:no , :selected=>@show_only_user=='no'}=t(:Show_sr_all)

  %input.btn.btn-default.btn-sm{:type=>:submit, :value=>t(:Show_systematic_review)}


- if @reviewes.count>0
  %p=t_desc_value(:Count_systematic_review, @reviewes.count)


.btn-group
  - if auth_to("review_admin")
    %a{:href=>url("/review/new")}
      %button{:class=>"btn btn-default"}
        %span{:class=>"glyphicon glyphicon-plus"}
        =t(:Systematic_review_new)


-@reviewes.each do |r|
  =partial(:dashboard_sr, :locals=>{sr:r, user:@user})

