%h2 Revisiones
%a{:href=>url("/revision/nuevo")}
  %img{:src=>url("images/list-add.png")}
  Nueva revisi칩n sistem치tica
%form{:method=>:post, :action=>url("/revisiones/actualizar")}
  %table.reporte
    %thead
      %th ID
      %th Nombre
      %th Descripci칩n
      %th Foco
      %th Objetivo
      %th Perspectiva
      %th Cobertura
      %th Organizaci칩n
      %th Destinatario
      %th Busquedas
    -@revisiones.each do |r|
      %tr
        %td=r.id
        %td
          %a{:href=>"/revision/#{r.id}"}=r.nombre
        %td=r.descripcion
        %td=r.trs_foco.name
        %td=r.trs_objetivo.name
        %td=r.trs_perspectiva.name
        %td=r.trs_cobertura.name
        %td=r.trs_organizacion.name
        %td=r.trs_destinatario.name
        %td=partial(:revision_botones, :locals=>{:r=>r})

          
  %input{:type=>:submit}
