.page-header
  %h2 Revisiones

.btn-group
  - if @inactivas
    %a{:href=>url("/revisiones"), :role=>:button, :class=>"btn btn-default"}
      Solo activas
  - else
    %a{:href=>url("/revisiones?inactivas=true"), :role=>:button, :class=>"btn btn-default"}
      Activas e inactivas

-@revisiones.each do |r|
  %div{:class=>"panel panel-default"}
    %div{:class=>"panel-heading"}
      ="(#{r.id})"
      %a{:href=>"/revision/#{r.id}"}=r.nombre
    %div{:class=>"panel-body"}
      %ul{:class=>"list-group"}
        %li{:class=>'list-group-item'}
          Descripción:
          =r.descripcion
        %li{:class=>'list-group-item'}
          Foco:
          =r.trs_foco.name
        %li{:class=>'list-group-item'}
          Objetivo:
          =r.trs_objetivo.name
        %li{:class=>'list-group-item'}
          Perspectiva:
          =r.trs_perspectiva.name
        %li{:class=>'list-group-item'}
          Cobertura:
          =r.trs_cobertura.name
        %li{:class=>'list-group-item'}
          Organización:
          =r.trs_organizacion.name
        %li{:class=>'list-group-item'}
          Destinatario:
          =r.trs_destinatario.name
        %li{:class=>'list-group-item'}
          Activa:
          =r.activa ? "Sí" : "No"
        %li{:class=>'list-group-item'}
          Etapa:
          =r.etapa_nombre
    %div{:class=>"panel-footer"}
      =partial(:revision_botones, :locals=>{:r=>r})

%a{:href=>url("/revision/nuevo")}
  %button{:class=>"btn btn-default"}
    %span{:class=>"glyphicon glyphicon-plus"}
    Nueva revisión sistemática
