%h2=title(t(:Scales))
- if false and auth_to("scale_admin")
  %a.btn.btn-default{:href=>url("/scale/new")}
    %span.glyphicon.glyphicon-plus-sign
    =t(:New_scale)
%table.table.table-bordered
  %thead
    %th=t(:Id)
    %th=t(:Name)
    %th=t(:Description)
    %th=t(:Actions)
  %tbody
    - @scales.each do |g|
      %tr
        %td=g.id
        %td=g.name
        %td=g.description
        %td
          - if false and auth_to("group_admin")
            .btn-group.btn-group-sm
              %a.btn.btn-default{:href=>url("/scale/#{g.id}/edit")}
                %span.glyphicon.glyphicon-pencil
                =t(:Edit)
              %a.btn.btn-default{:href=>url("/scale/#{g.id}/delete")}
                %span.glyphicon.glyphicon-remove
                =t(:Delete)

