/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

/* Elements */

body {
  margin: 20px 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

h1 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}

h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

  color: #146ab0;
}

h3 a:hover, h3 a:link, h3 a:visited {
    color: #2582A4;
    text-decoration:none;
}


p, ol, ul {
  text-align: justify;
}

strong {
  font-weight: bold;
  color: #808080;
}

a {
  color: #146ab0;
}

a:hover {
  text-decoration: none;
  color: #93badc;
}

.box {
  margin-bottom: 0;
  padding-bottom: 0;
  background: url(images/img07.gif) repeat-x left bottom;
}

.bottom {
  display: block;
  margin-bottom: 0;
  padding-bottom: 10px;
  background: url(images/img08.gif) no-repeat left bottom;
}

.image {
  float: left;
  margin: 3px 0 0 0;
  padding: 0;
}

.indent {
  margin-left: 125px;
}

/* Header */

#header {
  width: 100%;
  height: 37px;
  margin: 0 auto;
  background: #BECF74 url(images/img01.gif) repeat-x;
  border-bottom: 3px solid #FFFFFF;
}
#usuario {
    float:right;
}
/* Menu */

#menu {
  float: left;
  width: 90%;
  height: 37px;
  margin: 0;
  padding: 0 0 0 10px;
  list-style: none;
  background: url(images/img02.gif) no-repeat;
}

#menu li {
  display: inline;
}

#menu a {
  display: block;
  float: left;
  height: 27px;
  padding: 10px 15px 0px 15px;
  text-transform: lowercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}

#menu a:hover {
  background: #A4B74C url(images/img04.gif) repeat-x;
}

/* Search */

#header-end {
  float: right;
  height: 28px;
  margin: 0;
  padding: 9px 25px 0 0;
  background: url(images/img03.gif) no-repeat right top;
}

#search fieldset {
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
}

#input1 {
  width: 164px;
  padding: 2px 5px;
  background: #FFFFFF;
  border: none;
}

#input2 {
  height: 20px;
  background: #87C4DB;
  border: none;
  text-transform: lowercase;
  font-size: 10px;
  font-weight: bold;
  color: #FFFFFF;
}

.enviar {

  border:1px solid #AAAAFF;
  padding:1px;
  background-color:white;
  margin-top:1em;
}

/* Content */

#content {
  width: 100%;
  margin: 0 9;
  padding: 30px 40px 0 0px;

  
}

#inner {
    width:100%;
}
#content h2 {
  margin-top: 0;
  font-size: 18px;
}

#content h3 {
  margin-bottom: 0;
  font-size: 16px;
}

#content h4 {
  margin-top: 0;
  font-size: 14px;
  font-weight: normal;
}

#content .box {
  margin: 0 -30px 30px -20px;
  padding: 0 30px 0 20px;
}

#content .bottom {
  margin: 0 0 20px -20px;
  padding: 0 0 20px 20px;
}

/* Logo */

#logo {
  height: 150px;
  background: url(images/img06.gif) no-repeat;
}

#logo h1, #logo h2, #logo a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
  color: #FFFFFF;
}

#logo h1 {
  padding-top: 25px;
  font-size: 34px;
}

#logo h2 {
  margin-top: -5px;
  font-size: 12px;
}

/* Footer */

#footer {
  clear: both;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  background: url(images/img11.gif) repeat-x;
}

#footer p {
  margin: 0;
  text-align: center;
}






table {
    border-collapse: collapse;   
    color:black;
    font-size:10pt;
}
table.a95 {
/*    width:95%;*/
}

table.reporte {
    font-size:98%;
    margin-left:0px;
    margin-right:1em;
    margin-top:0.5em;
    margin-bottom:0.5em;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius: 6px;
} 
table.blanco td {
    border:0px solid #666;
    padding:0.1em;

}
table.reporte td {
    border:1px solid #666;
    padding:0.2em;
    text-align:right;
    
}
table.reporte thead th {
    text-align:center;
}
table.reporte th {
    background: #146ab0;
    font-weight: bold;
    color:white;
    border:1px solid black;
    padding:0.3em;
}

table.reporte th.chico {
  font-size:90%;
    background: #146ab0;
    font-weight: bold;
    color:black;
    border:1px solid black;
}

.rojo {
    color:red;
}

img {
    border:0px;
}


.reporte-control {
    font-size:90%;
    border-collapse:collapse;
}

.reporte-control td {
    border:1px solid black;
}
.reporte-control th {
    color:black;
    font-weight:bold;
    background:#999;
    border:1px solid black;
}


.total-circunscripcion {
    background-color:yellow;
    color: black;
    font-weight:bold;
}


.prioridad-0 {

}
.prioridad-1 {
    background:#EEEEEE;
}
.prioridad-2 {
    background:#AACFFF;
}

.prioridad-3 {
    background:#FFCFAA;
}

.hidden {
    display:none;
}


.correcto {
    background-color: #CFC;
    border:1px solid #969;
    padding:1em;
    color:green;
}

.completo {
    background-color: #CFC;
    border:1px solid #969;
    color:green;

}

.advertencia {
    background-color:#FFC;
    border:1px solid red;
    padding:1em;
    color:black;
    font-weight:bold;
}


.incompleto {
    color:red;
}

.semaforo {
background:white;
  position:absolute;
  float:right;
  right:1em;
  top:120px;
  width:auto;
  height:150px;
  overflow:auto;
}
#ingreso_datos_principal {
    width:auto;
}

.ui-tabs {
width:98%;
background:white;
padding:0px;
}

.ui-tabs-nav {
background:#A4B74C;
border-color:#A4B74C;;
}
.ui-tabs-selected a:link {
    color:#87A019;
border-color:#A4B74C;;
    
}

.ui-tabs-nav a:hover {
    color: #2582A4;
    background:white;
    border-color: #2582A4;
}



.acciones_globales {
    margin:10px;
    border-left:1px dashed grey;
    padding-left:0.5em;
}


.actual {
    float:left;
}

/** breadcrumb */

#breadcrumb {
margin-left:1em;
margin-bottom:0.5em;
}

#breadcrumb select {
   overflow: hidden;
   background: white;
   border: 1px solid #ccc;
   
}

#navlist
{
list-style: none;
padding: 0;
margin: 0;
}

#navlist li
{
display: inline;
padding: 0;
margin: 0;
}

#navlist li:before { content: "> "; }
#navlist li:first-child:before { content: ""; }

/*IE workaround*/
/*All IE browsers*/
* html #navlist li
{
background-image: url("images/gt.gif");
background-repeat: no-repeat;
background-position: 0 50%;
padding: 0 0.5em 0 1em;
margin: 0 1em 0 -1em;
}

/*Win IE browsers - hide from Mac IE\*/
* html #navlist { height: 1%; }

* html #navlist li
{
display: block;
float: left;
}

/*End hide*/
/*Mac IE 5*/
* html #navlist li:first-child { background-image: none; }

span.titulo {
    font-weight: bold;
}


td.decision {
   width:5em;
}

.decision-yes {
    color:darkgreen;
}
.decision-no {
    color:darkred;
}

.decision-undecided {
    color:sandybrown;
}


ul.tags {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.tags li.tag {
    display: inline-block;
    margin: 0 .2em .2em 0;
    min-height: 30px;
    line-height: 25px;
    padding: 0 0.25em;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;

    text-overflow: ellipsis;
    #overflow: hidden;

    font-size: 11px;
    -webkit-transition: .2s;
    transition: .2s;
}

ul.tags li.nuevo_tag {
    white-space: nowrap;
}
ul.tags li.tag .texto {
    white-space: nowrap;
}
ul.tags li.tag-predeterminado {
    background-color: lightyellow;
    border: 1px solid darkorange;
}



ul.tags li.tag a, ul.tags li.tag input {
    color: #333;

}

ul.tags li.tag input {
    border: 0;
}

ul.tags li.tag span.badge {
    font-size:10px;
}


.mensaje-texto {
    padding-left: 2em;
    max-height:3em;
    overflow:hidden;
    text-overflow: ellipsis;
}

.botones-texto {
    padding: 0.5em 1px 0.5em 2em;
}

.respuesta-a-m_rs {
    padding: 0.5em 1px 0.5em 2em;

}

img.archivo {
    width:90%;
    height: 75%;
    min-height: 75%;
    border:0;
/**    background-image: url("../images/ajax-loader.gif");
    background-repeat:no-repeat;
    */
}


ul.asignaciones {
    margin: 0;
    padding: 0 0 0 1em;
    list-style-type: none;
}

ul.asignaciones li.asignacion-user {
    display: inline-block;
    margin: 0 .2em .2em 0;
    min-height: 30px;
    line-height: 25px;
    padding: 0 0.25em;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;

    text-overflow: ellipsis;
    #overflow: hidden;

    font-size: 12px;
    -webkit-transition: .2s;
    transition: .2s;
}


p.instructions {
    margin:0.5em;
    padding:0.5em;
    font-size:90%;
    color:darkslategrey;
}



.btn-pending {
    background: #bbb;
    color:white;
}

.sidebar {
    resize: both;
    overflow: auto;
}

.dashboard-user {
    margin-top:1em;
}


.navbar-brand {
    float: left;
    height: 125px;
    padding: 10px 10px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-default {
    margin-top:65px;
    font-size:110%;
    background:#146ab0;

}

.navbar-default .navbar-nav > li > a , .navbar-default .navbar-text a , .usuario{
    color:white;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover , .navbar-default .navbar-text a:hover {
    color:#93badc;
    font-weight: bold;
}


.navbar-default .navbar-text {
    color:white;
}


.panel-primary {
    border-color: #146ab0;
}


.panel-primary > .panel-heading {
    border-color: #146ab0;
    background-color: #146ab0;
}

.table th {
    color: #146ab0;
}

.table > thead > tr > th {
     border-bottom: 2px solid #93badc;
}
.table-bordered {
    border: 1px solid #93badc;
}

.table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #93badc;
}

.table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td
{
    border: 1px solid #93badc;
}



.dropdown-menu > li > a:hover {
    background-color:#93badc;
    color:black;
}

.panel-black {
    border:1px solid black;
}
.panel-black .panel-heading{
    background:black;
    color:white;
}

.logo-login {
    width:100%;
    margin-bottom:30px;
}

.description-login {
    text-align:center;
    font-size:11pt;
    margin-bottom:30px;
    color:#93badc;
}