%h2="Canónicos documentos para tag '#{@tag.texto}' en revisión sistemática '#{@revision.nombre}'"

- @cds_tag.each do |cd|
  - c_doc=Canonico_Documento[cd[:id]]
  %div{:class=>"panel panel-default"}
    =partial(:canonico_documento_descripcion, :locals=>{revision: @revision, cd: c_doc,ars:@ars})
    %div{:class=>"panel-footer"}
      =partial("tags/tags_cd_rs", :locals=>{cd: c_doc, revision:@revision,usuario_id:@usuario[:id]})