.heading
  - if @stage
    =t_systematic_review_title(@review[:name], I18n::t("systematic_review_page.cd_for_tag_stage", tag_text:@tag.text, stage: t(get_stage_name(@stage)) ), false)
  - else
    =t_systematic_review_title(@review[:name], I18n::t("systematic_review_page.cd_for_tag", tag_text:@tag.text), false)
%table.table.table-bordered.table-condensed
  %tbody
    - @cds.each do |cd|
      %tr
        %td
          =cd.ref_apa_6_brief_html
          =partial(:canonical_document_button, :locals=>{id:cd[:id]})
          =partial(:canonical_document_button_abstract_collapsible, :locals=>{cd:cd})
          %div
            =partial("tags/tags_cd_rs", :locals=>{cd: cd, revision:@review,user_id:@usuario[:id]})