.heading
  =t_systematic_review_title(@revision[:nombre], "systematic_review_page.stages")


%ul.breadcrumb
  %li
    %a{:href=>url("/reviews")}=t(:Systematic_reviews)
  %li
    %a{:href=>url("/review/#{@revision[:id]}")}=@revision[:nombre]
  %li{:class=>"active"}=t(:Administration)

%ul
  - @revision.current_stages.each do |etapa|
    %li
      %a{:href=>"/review/#{@revision[:id]}/administration/#{etapa}"}
        =t(get_stages_names[etapa])
