.heading
  =t_systematic_review_title(@review[:name], "systematic_review_page.report")

=partial(:breadcrumb_review_admin,:locals=>{:name=>t(:Report_final)})

=partial(:dashboard_user_sr_report, :locals=>{:sr=>@review, :stage=>@stage})