.heading
  =t_systematic_review_title(@sr[:name], t(:Canonical_document_title, cd_name:@cd[:title]),false)

%ul.breadcrumb
  %li
    %a{:href=>url("/reviews")}=t(:Systematic_reviews)
  %li
    %a{:href=>url("/review/#{@sr.id}")}=@sr.name
  %li.active=@cd[:title]

%table.reporte
  - [:author, :year,:title,:journal, :volume,:pages,:doi,:pmid,:url].each do |field|
    %tr
      %th=field.capitalize
      %td
        - if auth_to("review_admin")
          =a_editable(@cd[:id], "canonical_document", "/canonical_document/edit_field/#{field}", @cd[field],"")
        -else
          =@cd[field]
