.heading
  %h2=t_systematic_review_title(@review.name, :Systematic_review_messages)

%ul.breadcrumb
  %li
    %a{:href=>url("/review/#{@review.id}")}=@review.name
  %li{:class=>:active}=t(:Messages)


.panel.panel-default
  .panel-heading
    =t(:New_message)
  .panel-body
    %form{:method=>"post",:action=>url("/review/#{@review.id}/message/new")}
      .form-group
        %label{:for=>"name"}=t(:Author)
        %p=@usuario[:name]
        %input{:type=>"hidden",:name=>:user_id, :value=>@usuario[:id]}
      .form-group
        %label{:for=>"subject"}=t(:Subject)
        %input{:class=>"form-control",:type=>"text", :name=>"subject"}
      .form-group
        %label{:for=>"text"}=t(:Text)
        %textarea{:class=>"form-control",:name=>'text'}
      %input{:type=>:submit, :value=>t(:Send_message_to_group), :class=>"btn btn-default"}

%h3=t(:Messages)
- if @mensajes_rs.count==0
  %p
    %em=t(:No_messages_on_this_systematic_review)
- else
  .list-group
    - @mensajes_rs.each do |mensaje_rs|
      =partial(:message_sr, :locals=>{:mensaje_rs=>mensaje_rs,:usuario=>@usuario})
