.header
  =t_systematic_review_title(@review[:name], t(:Assign_canonical_to_reference, reference:@reference.text), false)
%ul.breadcrumb
  %li
    %a{:href=>url("/review/#{@review.id}")}=@review.name
  %li.active
    =t(:Assign_canonical_to_reference, reference:@reference.text)


.well
  =@reference.text
%form{:method=>"get", :action=>url("/review/#{@review.id}/reference/#{@reference.id}/assign_canonical_document")}
  %div.form-group
    %label{:for=>"author"}=t(:Author)
    %input.form-control{:type=>"text", :name=>"query[author]",:value=>@query['author']}
  %div.form-group
    %label{:for=>"title"}=t(:Title)
    %input.form-control{:type=>"text", :name=>"query[title]",:value=>@query['title']}
  %div.form-group
    %label{:for=>"year"}=t(:Year)
    %input.form-control{:type=>"text", :name=>"query[year]",:value=>@query['year']}
  %input.btn.btn-primary{:type=>:submit, :value=>t(:Search)}
- if @cds
  %p
  %p=t_desc_value(:Count_canonical_documents, @cds.count)
  %h2=t(:Canonical_documents)
  .list-group
    -@cds.each do |cd|
      .list-group-item
        %form{:method=>:post, :action=>url("/reference/assign_canonical_document")}
          =cd.ref_apa_6_brief_html
          %input{:type=>'hidden', :name=>'cd_id', :value=>cd.id}
          %input{:type=>'hidden', :name=>'ref_id', :value=>@reference.id}
          %button.btn.btn-primary=t(:Assign)