.header
  %h2=title(t("Change_password_for_user", user_name:@user[:nombre]))

%ul.breadcrumb
  %li
    %a{:href=>"/usuario/#{@user[:id]}"}=@user[:nombre]
  %li.active
    =t(:Change_password)


%form{:method=>"post",:action=>url("/user/#{@user[:id]}/change_password")}
  .form-group
    %label{:for=>"password"}=t("password.write_new_password")
    %input{:class=>"form-control",:type=>"password", :name=>"password"}
  .form-group
    %label{:for=>"repeat_password"}=t("password.repeat_new_password")
    %input{:class=>"form-control",:type=>"password", :name=>"repeat_password"}
  %input{:type=>:submit, :value=>t("password.Change_password"), :class=>"btn btn-default"}