.header
  %h2=title(t("messages.Compose"))
%ul.breadcrumb
  %li
    %a{:href=>"/user/#{@user[:id]}"}=@user[:nombre]
  %li
    %a{:href=>"/user/#{@user[:id]}/messages"}=t(:Messages)
  %li.active
    =t("messages.Compose")
%form.new_message{:method=>"post",:action=>url("/user/#{@user[:id]}/compose_message/send")}
  .form-group
    %label{:for=>"nombre"}=t(:Author)
    %p=@user[:nombre]
    %input{:type=>"hidden",:name=>:user_id, :value=>@user[:id]}
  .form-group
    %label{:to=>"nombre"}=t("messages.Send_to")
    %select.form-control{:name=>:to, :id=>:form_to}
      %option{:value=>"NULL"}=t("messages.Select_user")
      - @user.accesible_users.each do |user_to|
        %option{:value=>user_to[:id]}=user_to[:nombre]

  .form-group
    %label{:for=>"asunto"}=t(:Subject)
    %input{:class=>"form-control",:type=>"text", :name=>"asunto", :value=>@ms_text}
  .form-group
    %label{:for=>"texto"}=t(:Text)
    %textarea{:class=>"form-control",:name=>'texto'}
  %input{:type=>:submit, :value=>t("messages.Send_message_to_user"), :class=>"btn btn-default"}