.heading=t_systematic_review_title(@revision[:nombre],:Compare_records_by_search)


%ul.breadcrumb
  %li
    %a{:href=>url("/revision/#{@revision.id}")}=@revision.nombre
  %li
    %a{:href=>url("/revision/#{@revision.id}/busquedas")}=t(:Searchs)
  %li.active
    =t(:Compare_records_by_search)

%table.tablesorter
  %thead
    %th{:style=>'width:50%'}=t(:Document)
    - @busquedas_id.each do |busqueda_id|
      -busqueda=Busqueda[busqueda_id]
      %th=busqueda.nombre
    %th n
  %tbody
    - @cds_ordenados.each do |key,val|
      %tr
        %td=@cds_o[key].ref_apa_6_breve_html
        - @busquedas_id.each do |b_id|
          %td="#{val[:busquedas][b_id] ? 'Sí':'No'}"
        %td=val[:busquedas].length