.header=t_search_title(@revision[:nombre], @busqueda.nombre,:Search_view)

%ul.breadcrumb
  %li
    %a{:href=>url("/revision/#{@revision.id}")}=@revision.nombre
  %li
    %a{:href=>url("/revision/#{@revision.id}/busquedas")}=t(:Searchs)
  %li
    %a{:href=>url("/busqueda/#{@busqueda.id}")}=@busqueda.nombre
  %li.active
    =t(:View)

%table.reporte
  %tr
    %th=t(:Bibliographic_database)
    %td=Base_Bibliografica[@busqueda[:base_bibliografica_id]][:nombre]
  %tr
    %th=t(:Date)
    %td=@busqueda[:fecha]
  %tr
    %th=t(:Search_criteria)
    %td=@busqueda[:criterio_busqueda]
  %tr
    %th=t(:Description)
    %td=@busqueda[:descripcion]
  %tr
    %th=t(:File)
    %td
      POR HACER
