.heading
  =t_canonical_document_title(@cd[:title], t(:view_pubmed_information, pmid:@cd.pmid), false)

%ul.breadcrumb
  %li
    %a{:href=>url("/canonical_document/#{@cd.id}")}=@cd.title
  %li.active
    =t(:view_pubmed_information, pmid:@cd.pmid)

.well=@pmc_sum.ref_apa_6_brief_html

%h3 XML

%pre=CGI::escapeHTML(@pmc_sum.xml.to_xml)